<section id="cta" class="bg-accent-500 w-full py-16 text-white text-center">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 px-8">
    <p class="text-4xl tracking-tight font-medium md:text-5xl font-display">
      Pronto per acquistare una casetta per il tuo gatto?
    </p>
    <p class="text-lg mt-4 max-w-2xl mx-auto">
      Le nostre case per gatti sono fatte a mano con amore e progettate per essere funzionali e eleganti. Contattaci per ulteriori informazioni!
    </p>
    <div class="mt-8">
      <p class="text-lg">Scrivici a: <a href="mailto:info@palafittos.com" class="underline">info@palafittos.com</a></p>
    </div>
  </div>
</section>
