<section id="details">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            Durabilità e Maestria
          </p>
          <p class="text-base mt-4 text-gray-500">
            Le nostre case per gatti sono realizzate a mano con materiali di alta qualità, garantendo resistenza e durata nel tempo.
          </p>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-2 rounded-2xl overflow-hidden">
          <img
            alt="Casa palafitta per gatti"
            class="border border-gray-200 lg:rounded-3xl object-cover rounded shadow-2xl lg:h-full lg:w-full"
            src="/palafitos_inspiration.webp"
          />
        </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-6 grid grid-cols-1 lg:gap-12 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"
            ></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Design Elevato
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Il design elevato ricrea l’esperienza naturale che i gatti amano.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"
            ></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Resistenza alle Intemperie
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Progettate per resistere alle intemperie, sia all’interno che all’esterno.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"
            ></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Maestria Artigianale
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Ogni casa è realizzata a mano con la massima cura e attenzione ai dettagli.
        </p>
      </div>
    </div>
  </div>
</section>
