<section id="gallery" class="bg-white w-full py-24">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 px-8">
    <div>
      <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display text-center">
        Galleria delle nostre case per gatti
      </p>
    </div>

    <div class="mt-12 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <a data-fancybox="gallery" href="/with_cat.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/with_cat.jpg" alt="Palafitto with a cat" class="object-cover w-full h-full">
      </a>
      <a data-fancybox="gallery" href="/outside.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/outside.jpg" alt="Palafitto outside" class="object-cover w-full h-full">
      </a>
      <a data-fancybox="gallery" href="/front.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/front.jpg" alt="Palafitto front view" class="object-cover w-full h-full">
      </a>
      <a data-fancybox="gallery" href="/front_and_lateral.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/front_and_lateral.jpg" alt="Palafitto front and lateral" class="object-cover w-full h-full">
      </a>
      <a data-fancybox="gallery" href="/back.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/back.jpg" alt="Palafitto back view" class="object-cover w-full h-full">
      </a>
      <a data-fancybox="gallery" href="/detail_inside.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/detail_inside.jpg" alt="Palafitto inside" class="object-cover w-full h-full">
      </a>
    </div>

    <div class="mt-12 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <a data-fancybox="gallery" href="/detail_stair.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/detail_stair.jpg" alt="Palafitto detail stair" class="object-cover w-full h-full">
      </a>
      <a data-fancybox="gallery" href="/detail_door.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/detail_door.jpg" alt="Palafitto detail door" class="object-cover w-full h-full">
      </a>
      <a data-fancybox="gallery" href="/detail_roof.jpg" class="bg-gray-100 rounded-lg overflow-hidden">
        <img src="/detail_roof.jpg" alt="Palafitto detail roof" class="object-cover w-full h-full">
      </a>
    </div>
  </div>
</section>
