<section id="hero" class="relative w-full h-screen">
  <picture>
    <source srcset="/cat_house_palafitto.webp" type="image/webp" />
    <img
      src="/cat_house_palafitto.jpg"
      alt="Immagine fotorealistica di Palafitte per gatti"
      class="object-cover w-full h-full"
    />
  </picture>
  <div class="absolute inset-0 flex flex-col justify-center items-center text-white text-center px-4 sm:px-8 md:px-12">
    <p class="text-3xl sm:text-4xl tracking-tight font-semibold md:text-5xl">
      Accoglienti Palafitte per i tuoi Gatti
    </p>
    <p class="text-base sm:text-lg lg:text-xl mt-4 max-w-2xl">
      Le nostre case uniche, ispirate alle palafitte tradizionali, offrono ai tuoi amici felini una casa confortevole, elevata e di stile.
    </p>
  </div>
</section>
