<section id="testimonial" class="bg-gray-100 w-full py-24">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-12">
    <div>
      <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
        Scopri le esperienze e il <span class="sm:block">feedback dei nostri clienti soddisfatti</span>
      </p>
    </div>
    <div class="mt-12 grid grid-cols-1 gap-4 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <p class="text-gray-500">"La casetta è perfetta per il mio gatto! Solida, bella e comoda."</p>
        <p class="mt-4 text-sm font-display text-gray-700">— Luca G.</p>
      </div>
      <div class="bg-white shadow-lg rounded-lg p-6">
        <p class="text-gray-500">"Un design davvero unico. Il mio gatto adora stare lì sopra."</p>
        <p class="mt-4 text-sm font-display text-gray-700">— Sara M.</p>
      </div>
      <div class="bg-white shadow-lg rounded-lg p-6">
        <p class="text-gray-500">"Resistente e perfetta per esterni. Consiglio vivamente."</p>
        <p class="mt-4 text-sm font-display text-gray-700">— Marco R.</p>
      </div>
    </div>
  </div>
</section>
