---
import { Image } from "astro:assets";
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";

import myHeroImage1 from "../../assets/images/hero1.jpg";
import myHeroImage2 from "../../assets/images/hero2.jpg";
import myHeroImage3 from "../../assets/images/hero3.jpg";
import CtaButton from "../shared/CtaButton.astro";
import ByResult from "./ByResult.astro";
import GradiantText from "../shared/GradiantText.astro";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class=`relative pt-32 lg:pt-36 ${className}`>
  <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
    <div
      class="relative flex flex-col items-center text-center lg:text-left lg:py-7 xl:py-8
        lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
    >
      <h1
        class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
      >
        Ignite Your
        <GradiantText>Social <br /> Presence</GradiantText>
        with Us!
      </h1>
      <Paragraph className="mt-8 ">
        Your journey to social media success begins here. Elevate your brand,
        engage your audience, and boost your business with our tailored social
        media marketing solutions.
      </Paragraph>

      <div class="mt-16 w-full flex flex-col">
        <div class="lg:mx-auto mb-5">
          <CtaButton />
        </div>
        <div class="mx-auto">
          <ByResult />
        </div>
      </div>
    </div>

    <div
      class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl"
    >
      <Image
        src={myHeroImage3}
        alt="Hero image"
        class="my-class"
        width="2350"
        height="2359"
        class="lg:absolute lg:w-full lg:h-full rounded-3xl object-cover lg:max-h-none max-h-96"
      />

      <!-- https://unsplash.com/photos/man-in-gray-hoodie-sitting-on-brown-wooden-chair-on-green-grass-field-during-daytime-3faX71BaNe0?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash -->
    </div>
  </Container>

  <ByNumber />
  <!-- <ByResult /> -->
</section>
